body {
    width: 90%;
    margin:  auto;
    background-color: #ff63e9;
  }
  .title {
    background-color: #ff5100e8;
    color: #FFC000;
    width: 70%;
    min-width: 500px;
    margin: auto;
    
  }
  
  h1 {
  text-align: center;
  margin: 10px 0 -10px 0;
  padding: 5px 0px;
  font-size: 30px;
  font-family: cursive;
  font-weight: 500;
  z-index: 20px;
  }
  
  #description {
    text-align: center;
    margin: 2px 0 20px 0;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    z-index: inherit;
  }
  hr { 
    background-color: #8db600;
    height: 3px;
    border: none;
  }
  form {
    width: 50%;
    margin:  auto;
    padding: 10px;
    display: block;
    min-width: 500px;
    border: 2px solid#ff7a3b;
    margin-bottom: 10px;
    background-color: #f35a14e8;
    color:#FFC000 ;
  } 
  fieldset {
    border: none;
  }
  fieldset:last-of-type {
    padding: 0 0 1px 0;
    margin-bottom: 10px;
  }
  label, #name-label, #email-label, #number-label {
    display: block;
    margin: 10px;
    font-weight: 700;
    font-size: 19px;
    
  }
  
  .form-top input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    background-color: #FFCBF8;
    color: white;
  }
  #question {
    padding:0 19px;
    width: unset;
    display: block;
    font-size: 19px;
    font-weight: 700;
  }
  
  #dropdown{
    font-size: 15px;
    width: 95.3%;
    margin: 15px;
    height: 30px;
    background-color: #FFCBF8;
  }
  #name, #email, #number {
    padding-left: 4px;

  }
  
  em {
    font-weight: 300;
  }
  #recommendation-label {
    margin-left: 10px;
    
  }
  .comment {
    width: 95%;
    margin: 10px;
    height: 70px;
    min-width: 94%;
    max-width: 450px;
    min-height: 59px;
    max-height: 69px;
    scrollbar-width: none;
    font-size: 18px;
    padding: 3px;
    background-color: pink;
  }
  #submit {
    border: 0;
    border-radius: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 30px;
    background-color: #FFC000;
    margin: 0 auto;
    display: flex;    
    align-items: center;
    width: 40%;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    border: 2px solid #ffc000;
  }
  #submit:active {
    color: white;
    padding: 5px;
    background-color: #ff5100;
  }
